body
{
  font-family: "Montserrat Alternates", sans-serif;
}



header
{
  height: 70vh;
  background-color: #09c;
  background: linear-gradient(90deg ,#b06afe, #40a6ff);
}
.sade-header
{
  background-image: url(images/sphere.png);
  background-size: cover;
}

  

















